@use "vuetify" with (
  $body-font-family: "Alata",
  $heading-font-family: "Alata"
);

@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");

.slider-with-thumb-label {
  margin-top: 25px;
}
